.fixedBackground2 {
    height: 1000px;
    width: 100%;
    background-size: 100%;
   
    background-image: url(../components/fixedBackground2/outside.JPG);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}